.container {
  background: thistle;
}

header {
  background: lightblue;
  padding: 1em;
}

section {
  background: lavenderblush;
  padding: 1em;
}

footer {
  background: gainsboro;
  padding: 1em;
}