@tailwind base;
@tailwind components;
@tailwind utilities;

@import '_typography';

body {
  margin: 0;
}
table {
  thead {
    th {
      padding: .75em 1em;
    }
  }
  tbody {
    tr {
      &:nth-child(odd) {
        background: #F2F2F2;
      }
    }
    td {
      padding: .75em 1em;
    }
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rideaway__image {
  max-width: 450px;
}
.features__image-background {
  min-width: 350px;
  min-height: 210px;
}
.features__image {
  max-width: 300px;
  max-height: 350px;
}
.bottom-cta__image {
  max-width: 300px;
  max-height: 350px;
}