@tailwind base;
@tailwind components;
@tailwind utilities;

@import '_typography';

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rideaway__image {
  max-width: 450px;
}